* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: hotpink solid 0px;
}

html {
    background-color: white;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

p {
    font-family: sans-serif;
}

header {
    max-width: 100vw;
    height: 5vh;
    padding-left: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: grey;
    text-decoration: none;
    margin: 0 10%;
    margin-bottom: 0;
}

.nav_links li {
    padding: 0 20px;
    display: inline-block;
    font-size: 1.5rem;
}

.name_title {
    color: grey;
    font-size: 2.5rem;
}


.nav_links li a {
    color: grey;
    text-decoration: none;
}

.nav_links li a:hover {
    color: lightcoral;
}

footer {
    padding: 0px;
    margin-top: auto;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.fa-linkedin-square {
    color: #0072b1;
}

.fa-github,
.fa-envelope {
    color: #171515
}

footer a {
    color: grey;
}

footer i:hover {
    color: grey;
}

footer .social_links a {
    padding: 0 15px;
    flex: 1;
    margin: auto 0;

}

footer hr {
    width: 150px;
    margin: auto 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(10, 10, 10, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer p {
    margin: auto 0;
}

.footer_text {
    font-size: .8rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.header_divider{
    width: 80%;
    margin: 0 auto;
}