* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: hotpink solid 0px;
}

.wrapper {
    max-width: 80%;
    margin: auto;
}

/* header background image */
header {
    background-image: url(images/niagara2.JPG);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
}

/* -----------nav bar ---------- */
.nav_links {
    max-width: 100vw;
    height: 7vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 20%;
}

.nav_links li {
    padding: 0 20px;
    display: inline-block;
    font-size: 1rem;
}

.nav_links li a {
    color: rgb(216, 168, 95);
    text-decoration: none;
    text-shadow: 0px 1px 2px rgb(216, 168, 95 / 50%);
}

.nav_links li a:hover {
    color: lightcoral;
}

.header-text {
    margin-top: 10%;
    display: block;
    text-align: center;
}

.header-text h1 {
    font-size: 6rem;
    text-shadow: 0px 1px 3px rgb(0 0 0 / 80%);
    font-weight: bold;
}

.header-text p {
    margin-top: .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
}

.social {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: white;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 50%;
}

.title {
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}
/* start about */
.about {
    padding: 10% 0;
    background-color: grey;
}

.about_title {
    padding-top: 30%;
    margin: auto;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    display: flex;
    justify-content: right;    

}
/* -----------headshot photo ---------------- */

.about-col-1 img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    justify-content: right;    
}

.about-col-2 {
    flex-basis: 60%;
    color: white;
}

.about-col-2 h1{
    font-family: 'Courier New', monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}

.about-col-2 p{
    font-family: monospace, Georgia, 'Times New Roman', Times, serif;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    place-items: center;
}

.grid div {
    background:#eee;
    padding:1em;
}

.grid div:nth-child(odd){
    background:#ddd;
}
/* --------------footer------------- */

footer {
    padding: 0px;
    margin-top: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.fa-linkedin-square {
    color: white;
}

.fa-github,
.fa-envelope {
    color: white;
}

footer a {
    color: grey;
}

.fa:hover {
    color: grey;
}

footer .social_links a {
    padding: 0 15px;
    flex: 1;
    margin: auto 0;

}

footer hr {
    width: 150px;
    margin: auto 0;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(10, 10, 10, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer p {
    margin: auto 0;
}

.footer_text {
    font-size: .8rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

